
*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

*:focus,
*:active{
  outline: none;
}

/*     HEADER        */

.header_container{
  width: 100%;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;

    .header_content{
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .nav{
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-around;

          li{
            list-style: none;
            
              .link{
                font-size: 1vw;
                color: #1B252F;
                font-weight: 400;
              }
          }

          li:hover{
            position: relative;
            a{
              color: #21568A;
            }
          }

          li:hover:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -0.4vw;
            right: 0;
            background-color: #21568A;
            border-radius: 0.2vw;
          }
      }

      .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width:11.6vw ;
        height: 100%;

          .phone{
            width: 100%;

            .tel{
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              color: #1B252F;
              font-size: 1vw;
              font-weight: 700;
              display: flex;
              align-items: center;
            }

            .tel:hover{
              color: #21568A;
            }

            .tel:active{
              transform: scaleX(1.05) scaleY(1.05);
            }
          }
          

          .telegram{
            position: absolute;
            bottom: -5vw;
            display: none;
            width: 60%;

              .tg{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                color: #1B252F;
                font-size: 1vw;
                font-weight: 700;
              }

              .tg:hover{
                color: #21568A;
              }
              
              .tg:active{
                transform: scaleX(1.05) scaleY(1.05);
              }
          }
      }

      .contact:hover{
        transition: all 1.3s ease;
        .telegram{
          display: block;
          position: relative;
          bottom: 0;
        }
      }

      .btn_zamer{
        text-decoration: none;
        width: 11.06vw;
        height: 2.5vw;
        border-radius: 0.3vw;
        border: 2px solid #21568A;
        font-weight: 600;
        font-size: 1.02vw;
        line-height: 1.53vw;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .btn_zamer:hover{
        cursor: pointer;
        border: none;
        background: #21568A;
        color: #fff;
      }

      .btn_zamer:active,
      .btn_zamer:focus{
        font-weight: 700;
      }

      .burger_menu{
        display: none;
      }
    }
}


/*      TITLE       */

.title{
  width: 100%;
  height: 32.2vw;

    .title_content{
      width: 95vw;
      height: 100%;
      background-color: #21568A;
      border-radius: 0px 0.375vw 0.375vw 0px;
    }
}


/*      APP        */

select{
  width: 27.625vw;
  height: 3vw !important;
}

h3{
  font-size: 1.125vw;
}

.app{
  width: 100%;
  height: 100.4375vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  

    .app_container{
      border-radius: 0.375vw;
      width: 97vw;
      height:90.4375vw ;
      background-color: #F3F5F8;

        .app_content{
          height: 100%;
          display: flex;
          flex-direction: row;


            .app_anketa{
              height: 100%;
              width: 30%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: flex-end;

                .app_title{
                  width: 27.625vw;
                  height: 3vw;
                  font-size: 1.5vw;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                
                .form_content{

                  .app_form{
                    display: flex;
                    flex-direction: column;
                    height: 85.625vw;
                    width: 27.625vw;
                    justify-content: space-around;
      
                      

                      div{
                        display: flex;
                        flex-direction: column;
                        border: none;
      
      
                          h3{
                            margin-left: 3.2vw;
                            font-size:1.3vw;
                            position: relative;
                          }
      
                          h3:before{
                            position: absolute;
                            left: -2.8vw;
                            top: 43.5%;
                            width: 2vw;
                            height: 1px;
                            content: '';
                            background-color: #21568A;
                          }

                  }
                      
                      select{
                        background-color: rgba(33, 86, 138, 0.1);
                        border-radius: .1875vw;
                        border: none;
                        text-indent: 0.6vw;
                        width: 27.625vw;
                        height: 3vw !important;
                        

                          option{
                            border-color: #fff;
                          }

                          .vybor{
                            display: none;
                          }
                      }

                      .first{
                        height: 14.375vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around !important;
      
      
                        label{
                          /* width: 27.625vw;
                          height: 3.125vw;
                          border-radius: 0.3vw; */
                          display: none;
                        }

                        input{
                          width: 27.625vw;
                          height: 3.125vw !important; 
                          text-indent: 0.6vw;
                          border-radius: 0.3vw;
                          border: none;
                          outline: none;
                          background-color: rgba(33, 86, 138, 0.1);
                        }

                        

                        .data__form._error{
                          -webkit-box-shadow: 0px 0px 0.7vw 0.4vw rgba(251, 0, 0, 0.68) inset;
                          -moz-box-shadow: 0px 0px 0.7vw 0.4vw rgb(251, 0, 0) inset;
                          box-shadow: 0px 0px 0.4vw 0.1vw rgba(251, 0, 0, 0.973) inset;
                        }

                        input:focus{
                              background-color: #fff;
                              border: #21568A 1px solid;
                        }
      
                            /* input::placeholder{
                              padding-left: 0.6vw;
                            } */
                        

                        /* label._error{
                          box-shadow: 0 0 15vw red;
                        } */
      
                        .name{
      
                        }
      
                        .adress{
                        }
      
                        .phone{
                        }
      
                        .email{
                        }
                      }
      
                      .second{
                        height: 5.9375vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        
                          /* select{
                            width: 27.625vw;
                            height: 3vw !important;
                          } */

                      }
                      .third{
                        height: 5.9375vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        
                      }
      
                      .forth{
                        height: 5.9375vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        
                      }
      
                      .fifth{
                        height: 5.9375vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        
                      }
      
                      .sixth{
                        height: 10vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        
                      }
      
                      .seventh{
                        height: 5.9375vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        
                      }
                      .eight{
                        height: 5.9375vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                      }
                      
                      .nineth{
                        height: 5.9375vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        
                      }
                      .btn{
                        width: 27.625vw;
                        height: 3.125vw;
                        
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                          button{
                            width: 75%;
                            height: 100%;
                            background-color: #21568A;
                            border-radius: 0.1875vw;
                            border: none;
                            color: #fff;
                            font-weight: 600;
                            font-size: 1.125vw;
                            position: relative;
                          }

                          button:hover{
                            background-color: rgba(33, 86, 138, 0.93);
                            /* font-weight: 700; */
                            transform: scaleY(1.01) scaleX(1.01);
                            
                          }

                          @-webkit-keyframes rotate { 
                            from { -webkit-transform: rotate(0deg) }
                            to { -webkit-transform: rotate(360deg) }
                        }
                        @-moz-keyframes rotate { 
                            from { -moz-transform: rotate(0deg) }
                            to { -moz-transform: rotate(360deg) }
                        }
                        @-o-keyframes rotate { 
                            from { -o-transform: rotate(0deg) }
                            to { -o-transform: rotate(180deg) }
                        }
                        @-ms-keyframes rotate { 
                            from { -ms-transform: rotate(0deg) }
                            to { -ms-transform: rotate(360deg) }
                        }
                        button:after {
                          position: absolute;
                          /* visibility: hidden; */
                          opacity: 0;
                          right: 0;
                          /* display:none; */
                          width: 3.125vw;
                          height: 3.125vw;
                          border-radius: 60px;
                          border: 6px solid #21568A;
                          clip: rect(0px 21px 21px 0px);
                          -webkit-animation: rotate 2s linear infinite 0s;-moz-animation: rotate 2s linear infinite 0s;-o-animation: rotate 2s linear infinite 0s;-ms-animation: rotate 2s linear infinite 0s;
                          animation: rotate 2s linear infinite 0s;
                        }
                          button._sending:after {
                          opacity: 1 !important;
                          /* visibility: visible !important; */
                          right: 0;
                        }
                      }
                  }
              }
            }

            .app_img{
              height: 100%;
              width: 70%;
            }
            
        }

        
    }


}